2011 Fraud Examiners Manual/Financial Transactions and Fraud Schemes/PUBLIC SECTOR FRAUD/False Claims and Statements/Inadequacies in Reporting Requirements


:


Financial Transactions and Fraud Schemes


:


Public Sector Fraud


:


Inadequacies in Reporting Requirements 
If the required reports are consistently late, incomplete, or unsatisfactory, this might be an 
indication that the source data is either unavailable, nonexistent, or it cannot be retrieved. 
Source data is derived from source documentation. If the source documentation is false, 
then summarizing the corresponding data becomes an increasingly more difficult problem. 
  



:


inadequaci in report requir
if the requir report ar consist late incomplet or unsatisfactori thi might be an
indic that the sourc data is either unavail nonexist or it cannot be retriev
sourc data is deriv from sourc document if the sourc document is fals
then summar the correspond data becom an increasingli more difficult problem
