2011 Fraud Examiners Manual/Financial Transactions and Fraud Schemes/MANAGEMENT’S, AUDITORS’, AND FRAUD EXAMINERS’ RESPONSIBILITIES/Legislation and Best Practices/Code of Ethics/DISCLOSURE REQUIREMENTS


:


Financial Transactions and Fraud Schemes


:


Manager's and Auditor's Responsibilities


:


DISCLOSURE REQUIREMENTS 
In addition to the disclosure of the existence of the code of ethics in the annual report, the 
rules require that companies make publicly available the portions of their code of ethics that 
address the ethical considerations contained within the definition of “code of ethics” and 
that apply to the senior financial officers. To do so, the SEC permits companies to employ 
one of three alternative methods: 
• Filing the code of ethics that applies to the senior financial officers as an exhibit in the 
company’s annual report; 
• Posting the code of ethics that is relevant to the senior financial officers on its website, 
and disclosing the Internet address and the fact that the code is posted in this manner 
within the annual report; or 
• Providing a copy of the code of ethics to any person upon request, and without charge, 
provided the annual report contains an undertaking to do so and an explanation of how 
a person can make such a request.  
 
Public companies must also make known, either on a Form 8-K or on their website, any 
changes in and any waivers of the code of ethics relating to the senior financial officers. The 
nature of the change or waiver must be disclosed within five business days of its occurrence 
and, if disclosed on a website, must remain posted for 12 months.  
 



:


disclosur requir
in addit to the disclosur of the exist of the code of ethic in the annual report the
rule requir that compani make publicli avail the portion of their code of ethic that
address the ethic consider contain within the definit of code of ethic and
that appli to the senior financi offic to do so the sec permit compani to emploi
on of three altern method
file the code of ethic that appli to the senior financi offic as an exhibit in the
compani annual report
post the code of ethic that is relev to the senior financi offic on it websit
and disclos the internet address and the fact that the code is post in thi manner
within the annual report or
provid a copi of the code of ethic to ani person upon request and without charg
provid the annual report contain an undertak to do so and an explan of how
a person can make such a request
public compani must also make known either on a form 8k or on their websit ani
chang in and ani waiver of the code of ethic relat to the senior financi offic the
natur of the chang or waiver must be disclos within five busi dai of it occurr
and if disclos on a websit must remain post for 12 month
