2011 Fraud Examiners Manual/Financial Transactions and Fraud Schemes/MONEY LAUNDERING/Federal and State Law/Structuring Transaction to Evade Reporting Requirements


:


Financial Transactions and Fraud Schemes


:


Money Laundering


:


Structuring Transaction to Evade Reporting Requirements, Title 31, U.S.C., § 5324 
If a person causes or attempts to cause a covered institution to fail to file a required report 
with the purpose of evading the reporting requirements, such person can be fined under the 
provisions of 18, U.S.C., § 3571 and/or imprisoned up to five years. If the violation occurs 
in the course of violating another federal law or as part of a pattern of illegal conduct 
involving more than $100,000 in a 12-month period, then the amount of the fine under § 
3571 can be doubled and the prison time increased to up to 10 years.  
 
Section 3571 of Title 18 provides for fines for individuals convicted of a felony of up to 
$250,000 and fines for organizations of up to $500,000. Alternatively, a fine can be imposed 
up to twice the amount of the ill-gotten gain to the criminal or twice the amount of the loss 
to the victim. 
 



:


structur transact to evad report requir titl 31 usc 5324
if a person caus or attempt to caus a cover institut to fail to file a requir report
with the purpos of evad the report requir such person can be fine under the
provis of 18 usc 3571 andor imprison up to five year if the violat occur
in the cours of violat anoth feder law or as part of a pattern of illeg conduct
involv more than 100000 in a 12month period then the amount of the fine under
3571 can be doubl and the prison time increas to up to 10 year
section 3571 of titl 18 provid for fine for individu convict of a feloni of up to
250000 and fine for organ of up to 500000 altern a fine can be impos
up to twice the amount of the illgotten gain to the crimin or twice the amount of the loss
to the victim
