2011 Fraud Examiners Manual/Financial Transactions and Fraud Schemes/PUBLIC SECTOR FRAUD/Government Fraud Auditing Standards/Planning/LEGAL AND REGULATORY REQUIREMENTS, PROVISIONS OF CONTRACTS OR GRANT AGREEMENTS, FRAUD, OR ABUSE


:


Financial Transactions and Fraud Schemes


:


Public Sector Fraud


:


LEGAL AND REGULATORY REQUIREMENTS, PROVISIONS OF CONTRACTS OR GRANT AGREEMENTS, FRAUD, OR ABUSE
7.30  In planning the audit, auditors should assess risks of fraud occurring that is 
significant within the context of the audit objectives. Audit team members should 
discuss among the team fraud risks, including factors such as individuals’ incentives 
or pressures to commit fraud, the opportunity for fraud to occur, and 
rationalizations or attitudes that could allow individuals to commit fraud. Auditors 
should gather and assess information to identify risks of fraud that are significant 
within the scope of the audit objectives or that could affect the findings and 
conclusions. For example, auditors may obtain information through discussion with 
officials of the audited entity or through other means to determine the susceptibility 
of the program to fraud, the status of internal controls the entity has established to 
detect and prevent fraud, or the risk that officials of the audited entity could override 
internal control. An attitude of professional skepticism in assessing these risks assists 
auditors in assessing which factors or risks could significantly affect the audit 
objectives. 
7.31  When auditors identify factors or risks related to fraud that has occurred or is likely 
to have occurred that they believe are significant within the context of the audit 
objectives, they should design procedures to provide reasonable assurance of 
detecting such fraud. Assessing the risk of fraud is an ongoing process throughout 
the audit and relates not only to planning the audit but also to evaluating evidence 
obtained during the audit. 
7.32  When information comes to the auditors’ attention indicating that fraud that is 
significant within the context of the audit objectives may have occurred, auditors 
should extend the audit steps and procedures, as necessary, to (1) determine whether 
fraud has likely occurred and (2) if so, determine its effect on the audit findings. If 
the fraud that may have occurred is not significant within the context of the audit 
objectives, the auditors may conduct additional audit work as a separate engagement, 
or refer the matter to other parties with oversight responsibility or jurisdiction. 
 



:


legal and regulatori requir provis of contract or grant agreement fraud or abus
730 in plan the audit auditor should assess risk of fraud occur that is
signific within the context of the audit object audit team member should
discuss among the team fraud risk includ factor such as individu incent
or pressur to commit fraud the opportun for fraud to occur and
ration or attitud that could allow individu to commit fraud auditor
should gather and assess inform to identifi risk of fraud that ar signific
within the scope of the audit object or that could affect the find and
conclus for exampl auditor mai obtain inform through discuss with
offici of the audit entiti or through other mean to determin the suscept
of the program to fraud the statu of intern control the entiti ha establish to
detect and prevent fraud or the risk that offici of the audit entiti could overrid
intern control an attitud of profession skeptic in assess these risk assist
auditor in assess which factor or risk could significantli affect the audit
object
731 when auditor identifi factor or risk relat to fraud that ha occur or is like
to have occur that thei believ ar signific within the context of the audit
object thei should design procedur to provid reason assur of
detect such fraud assess the risk of fraud is an ongo process throughout
the audit and relat not onli to plan the audit but also to evalu evid
obtain dure the audit
732 when inform come to the auditor attent indic that fraud that is
signific within the context of the audit object mai have occur auditor
should extend the audit step and procedur as necessari to 1 determin whether
fraud ha like occur and 2 if so determin it effect on the audit find if
the fraud that mai have occur is not signific within the context of the audit
object the auditor mai conduct addit audit work as a separ engag
or refer the matter to other parti with oversight respons or jurisdict
