2011 Fraud Examiners Manual/Financial Transactions and Fraud Schemes/FINANCIAL INSTITUTION FRAUD/Prevention/Document Requirements for Standard Transactions


:


Financial Transactions and Fraud Schemes


:


Financial Institution Fraud


:


Document Requirements for Standard Transactions 
Deviations from normal or proscribed documentation should be an automatic red flag. Who 
better to recognize a potential fraud than the employees routinely handling the 
documentation? Therefore, employees should be well-educated in proper documentation for 
the transactions they are handling. 
 
Financial Institution Fraud  Financial Transactions   
1.942                         2011 Fraud Examiners Manual  



:


document requir for standard transact
deviat from normal or proscrib document should be an automat red flag who
better to recogn a potenti fraud than the employe routin handl the
document therefor employe should be welleduc in proper document for
the transact thei ar handl
financi institut fraud financi transact
1942 2011 fraud examin manual
