Token                          Frequency
-----------------------------  ---------
summary                                3
to                                     2
provide                                1
for                                    1
bases                                  1
its                                    1
must                                   4
of                                     3
witnesses                              1
requests                               2
are                                    1
describe                               1
criminal                               4
when                                   1
any                                    2
only                                   1
government                             3
required                               1
reciprocal                             1
under                                  1
he                                     1
regarding                              1
intends                                2
and                                    4
that                                   1
disclosure                             3
opinions                               2
this                                   1
different                              1
expert                                 4
qualifications                         1
pretrial                               1
testimony                              2
use                                    2
from                                   2
reasons                                1
requirements                           1
witness                                2
case-in-chief                          1
federal                                1
during                                 1
if                                     2
written                                1
mind                                   1
trial                                  2
defendant                              2
procedure                              1
triggered                              1
those                                  2
is                                     1
disclosures                            1
it                                     2
cases                                  3
a                                      2
at                                     2
lawyers                                1
the                                   11
in                                     3
rules                                  2
which                                  1
complies                               1
also                                   2
happens                                1
produce                                1

Totals:                     64       116
