Token                          Frequency
-----------------------------  ---------
to                                     1
they                                   1
transactions                           3
for                                    2
normal                                 1
from                                   1
fraud                                  3
handling                               2
requirements                           1
who                                    1
well-educated                          1
document                               1
are                                    1
recognize                              1
1.942                                  1
2011                                   1
proper                                 1
institution                            1
routinely                              1
be                                     2
financial                              2
standard                               1
or                                     1
automatic                              1
a                                      1
potential                              1
the                                    3
in                                     1
should                                 2
manual                                 1
therefore                              1
deviations                             1
proscribed                             1
red                                    1
flag                                   1
better                                 1
an                                     1
than                                   1
documentation                          3
examiners                              1
employees                              2

Totals:                     41        55
