Token                          Frequency
-----------------------------  ---------
periods                                1
minimal                                1
received                               1
its                                    1
obligations                            2
participants                           1
time                                   1
2011                                   1
systematic                             1
offerings                              1
these                                  3
defined                                1
once                                   1
revenues                               1
under                                  3
violates                               1
companies                              6
he                                     1
entities                               1
409                                    1
further                                1
content                                1
408                                    1
1                                      1
ownership                              1
406                                    1
401                                    2
codes                                  1
403                                    1
own                                    1
components                             1
402                                    1
explain                                1
specify                                1
review                                 1
prohibitions                           1
blackout                               4
typically                              1
press                                  1
notices                                1
made                                   3
personal                               2
significant                            1
off-balance                            3
current                                2
relationships                          1
sheet                                  3
may                                    2
illegal                                1
a                                      7
material                               4
either                                 1
10                                     1
including                              2
days                                   1
financials                             1
public                                 7
part                                   1
coincide                               1
to                                    18
resources                              1
transactions                           4
percent                                2
basis                                  1
least                                  2
exception                              1
terms                                  1
by                                     6
consumer                               2
same                                   1
capital                                2
must                                  10
expenses                               1
who                                    1
adopted                                1
would                                  1
future                                 1
33-8177                                1
any                                    5
enactment                              1
timing                                 1
arrangements                           1
forced                                 1
be                                     7
financial                              8
reports                                4
condition                              3
untrue                                 1
306                                    1
code                                   1
period                                 4
sale                                   1
and                                   15
that                                   7
executive                              1
than                                   2
examiners                              1
require                                2
day                                    1
securities                             4
english                                1
make                                   3
can                                    1
insider                                1
business                               2
following                              1
statements                             2
plain                                  1
all                                    4
law                                    2
regular                                1
makes                                  2
at                                     2
as                                     1
persons                                3
which                                  1
effect                                 1
registered                             1
sec                                    9
prohibited                             1
directed                               1
an                                     1
pro                                    2
service                                1
provided                               1
operations                             1
executives                             1
quarterly                              1
50                                     1
they                                   4
employment                             1
for                                    5
no                                     1
misleading                             1
otherwise                              1
applies                                2
contingent                             1
whether                                1
of                                    19
retirement                             1
are                                    7
stock                                  2
report                                 1
reconciled                             1
on                                     5
only                                   1
information                            2
liquidity                              1
disclose                               2
omissions                              1
or                                    15
director                               2
not                                    2
now                                    1
them                                   1
disclosure                             5
years                                  1
pension                                1
publicly                               3
unconsolidated                         1
indirectly                             1
normally                               1
establishes                            1
2.224                                  1
acquired                               1
trading                                3
end                                    1
disgorge                               1
consecutive                            1
restricted                             1
lenders                                1
periodic                               3
loans                                  4
reasoning                              1
directors                              3
filed                                  3
restrictions                           1
second                                 1
filings                                1
gaap                                   1
transaction                            1
every                                  1
type                                   2
fraud                                  2
prior                                  1
related                                1
were                                   2
more                                   2
three                                  2
fund                                   1
required                               1
credit                                 1
directly                               1
concerning                             1
reviews                                3
restriction                            1
expenditures                           1
requires                               1
contain                                1
company                               10
included                               1
release                                2
this                                   3
senior                                 2
sarbanes-oxley                         8
other                                  1
have                                   4
ethics                                 2
issue                                  1
beneficial                             1
from                                   3
enhanced                               2
requirements                           3
because                                1
real                                   1
officers                               5
officer                                2
extent                                 1
traded                                 2
during                                 2
if                                     3
increases                              1
with                                   5
is                                     1
pursuant                               1
annual                                 2
disclosures                            6
it                                     1
extend                                 1
tended                                 1
the                                   29
rapid                                  1
provision                              1
in                                    13
section                                8
rules                                  3
profits                                1
forma                                  2
manual                                 1
plan                                   1
act                                    1
their                                  5
also                                   1
changes                                3

Totals:                    244       575
