Token                          Frequency
-----------------------------  ---------
for                                    1
external                               1
prevention                             1
fraud                                  1
requirements                           1
auditors                               1

Totals:                      6         6
