Token                          Frequency
-----------------------------  ---------
might                                  1
consistently                           1
becomes                                1
indication                             1
data                                   3
unsatisfactory                         1
from                                   1
difficult                              1
requirements                           1
incomplete                             1
more                                   1
are                                    1
nonexistent                            1
if                                     2
corresponding                          1
false                                  1
derived                                1
required                               1
retrieved                              1
be                                     2
reports                                1
unavailable                            1
is                                     3
it                                     1
or                                     2
inadequacies                           1
problem                                1
the                                    4
cannot                                 1
in                                     1
summarizing                            1
that                                   1
either                                 1
source                                 4
then                                   1
late                                   1
an                                     2
documentation                          2
reporting                              1
increasingly                           1
this                                   1

Totals:                     41        56
