Token                          Frequency
-----------------------------  ---------
summary                                1
opposing                               1
noted                                  1
designation                            1
particular                             1
its                                    1
party                                  1
time                                   1
over                                   1
solely                                 1
adopt                                  1
2011                                   1
place                                  2
these                                  1
limits                                 1
turn                                   1
under                                  2
unnecessary                            1
he                                     2
26                                     7
system                                 2
30                                     2
deposition                             2
own                                    1
privileged                             1
discovery                              1
review                                 1
realized                               1
satisfy                                1
fails                                  1
before                                 2
accordingly                            1
data                                   1
states                                 1
reasons                                1
witness                                7
prohibit                               1
strike                                 1
written                                3
civil                                  5
best                                   1
do                                     1
trial                                  3
procedure                              3
materially                             1
experts                                2
•                                      7
may                                    2
previous                               1
judges                                 1
documents                              2
a                                      9
cannot                                 1
compensation                           1
10                                     1
expense                                1
fact                                   1
days                                   3
remain                                 1
practice                               1
documentation                          1
2.807                                  1
notes                                  1
agree                                  1
actions                                1
to                                    11
testifying                             3
basis                                  1
least                                  3
by                                     4
aware                                  1
has                                    2
must                                   9
after                                  1
any                                    3
opinion                                3
comply                                 1
incorrect                              1
be                                     6
reports                                6
rebut                                  1
whose                                  1
so                                     1
mandatory                              2
providing                              1
intended                               1
and                                   12
that                                   6
elected                                1
several                                1
contradict                             1
examiners                              1
require                                1
opinions                               4
disclosed                              2
make                                   1
result                                 1
about                                  1
incomplete                             1
destroy                                1
following                              1
chapter                                1
federal                                5
complete                               1
supplement                             1
above                                  1
four                                   1
all                                    4
confidential                           1
sample                                 1
law                                    1
testified                              1
uniform                                1
thus                                   1
moreover                               1
at                                     6
provides                               2
as                                     5
therefore                              1
draft                                  3
amendments                             1
never                                  1
which                                  2
anything                               1
supporting                             1
an                                     7
certain                                1
specifically                           1
they                                   1
for                                    5
otherwise                              1
court                                  3
impose                                 1
whether                                2
of                                    19
exhibits                               1
are                                    2
given                                  1
report                                 6
on                                     1
information                            2
support                                1
form                                   2
or                                    10
prevent                                1
prepare                                1
create                                 1
drafts                                 1
include                                1
not                                    3
publications                           1
disclosure                             5
years                                  2
different                              2
expert                                21
credibility                            1
might                                  1
qualifications                         1
disclosing                             1
additionally                           1
courts                                 1
preceding                              2
fairness                               1
identity                               1
unless                                 1
district                               2
end                                    1
note                                   1
recordings                             1
cases                                  1
signed                                 1
90                                     1
should                                 1
led                                    1
within                                 2
attorneys                              1
but                                    1
finds                                  1
used                                   3
fraud                                  1
procedures                             1
been                                   2
authored                               1
his                                    2
action                                 1
grounds                                1
concerning                             1
such                                   1
expressed                              1
format                                 1
discoverable                           1
statement                              1
controversial                          1
forming                                2
promote                                1
permanent                              1
included                               1
prepared                               1
this                                   1
other                                  4
loss                                   1
have                                   4
one                                    1
testimony                              4
becomes                                1
from                                   1
add                                    1
requirements                           5
considered                             1
uniformity                             2
another                                1
order                                  1
if                                     3
rule                                   8
with                                   1
is                                     3
those                                  2
disclosures                            2
it                                     1
list                                   1
the                                   38
in                                    10
rules                                  7
manual                                 1
goals                                  1
districts                              1
instead                                1
uses                                   1
local                                  2
their                                  2
also                                   2
first                                  1

Totals:                    232       527
