2011 Fraud Examiners Manual/Law/TESTIFYING AS AN EXPERT WITNESS/Preparing a Report/Disclosure Requirements Under the Federal Rules of Criminal Procedure


:


Law


:


Testifying as an Expert Witness


:


Disclosure Requirements Under the Federal Rules of Criminal Procedure 
Lawyers and expert witnesses must also mind the rules regarding expert disclosures in criminal 
cases, which are different from those required in criminal cases. In criminal cases, pretrial 
expert disclosure is only triggered if the defendant requests it from the government. When this 
happens, the government must produce a written summary of any testimony that it intends to 
use during its case-in-chief at trial. The summary must describe the witness’s opinions, the 
bases and reasons for those opinions, and the witness’s qualifications. If the government 
complies and requests reciprocal disclosure, the defendant must also provide a summary of 
any expert testimony he intends to use at trial.  
 



:


disclosur requir under the feder rule of crimin procedur
lawyer and expert wit must also mind the rule regard expert disclosur in crimin
case which ar differ from those requir in crimin case in crimin case pretrial
expert disclosur is onli trigger if the defend request it from the govern when thi
happen the govern must produc a written summari of ani testimoni that it intend to
us dure it caseinchief at trial the summari must describ the witnesss opinion the
base and reason for those opinion and the witnesss qualif if the govern
compli and request reciproc disclosur the defend must also provid a summari of
ani expert testimoni he intend to us at trial
