2011 Fraud Examiners Manual/Law/TESTIFYING AS AN EXPERT WITNESS/Preparing a Report/Rule 26 Reports and Disclosure Requirements Under the Federal Rules of Civil Procedures


:


Law


:


Testifying as an Expert Witness


:


Rule 26 Reports and Disclosure Requirements Under the Federal Rules of Civil Procedures 
As noted above, expert reports in all civil actions in federal court must comply with Rule 26 of 
the Federal Rules of Civil Procedure. Rule 26 states that testifying experts must prepare a 
written report and make certain disclosures about their opinions and supporting grounds. 
Specifically, the expert report, which must be prepared and signed by the expert witness, must 
include the following: 
• A complete statement of all expert opinions to be expressed and the basis and reasons for 
such opinions 
• The data or other information considered by the witness in forming the opinion 
• Any exhibits to be used as support for or as a summary of the opinions 
• The qualifications of the expert witness 
• All publications authored by the expert in the preceding 10 years 
• A list of all other cases in which the expert has testified as an expert at trial or at 
deposition within the preceding four years 
• The expert’s compensation for his review and testimony 
 
The Federal Rules of Civil Procedure also impose time limits concerning Rule 26 Reports. The 
rules require that the identity and report of the expert must be disclosed at least 90 days before 
trial. But the disclosure of an expert whose testimony is intended solely to contradict or rebut 
another witness’s testimony must be disclosed within 30 days after the other witness’ 
disclosure. Additionally, an expert must supplement the written report or deposition 
testimony at least 30 days before trial if he becomes aware that previous disclosures might 
have been materially incomplete or incorrect. 
 
If a court finds that an expert report fails to satisfy the Rule 26 requirements, it may strike the 
expert designation and prohibit the expert from testifying. A sample format for an expert 
report is included at the end of this chapter. 
 
Law  Testifying as an Expert Witness  
2011 Fraud Examiners Manual    2.807 
Note that under the Federal Rules of Civil Procedure, the expert witness must turn over 
anything he used in forming his opinion. Thus, if an expert uses privileged or confidential 
documents, those documents must be given to the opposing party. 
 
Moreover, draft reports are also discoverable. Therefore, experts should never destroy drafts, 
notes, recordings, or any other form of documentation used to form the expert’s opinion. Any 
action to do so may result in permanent loss of the expert’s credibility. In fact, the best 
practice to prevent discovery of draft reports is not to create draft reports in the first place. 
 
These mandatory disclosure requirements remain controversial. Attorneys and judges cannot 
agree on whether the requirements add unnecessary expense or whether they promote 
uniformity and fairness. At least one of those goals, uniformity, has not been realized. Rule 26 
provides that the disclosure requirements are mandatory unless a particular district court 
provides otherwise by order or local rule. Several district courts have elected not to adopt Rule 
26 and have written their own local rules in its place. Accordingly, instead of providing a 
uniform system of disclosing information, the amendments have led to a system of different 
rules for different districts. 
 



:


rule 26 report and disclosur requir under the feder rule of civil procedur
as note abov expert report in all civil action in feder court must compli with rule 26 of
the feder rule of civil procedur rule 26 state that testifi expert must prepar a
written report and make certain disclosur about their opinion and support ground
specif the expert report which must be prepar and sign by the expert wit must
includ the follow
a complet statement of all expert opinion to be express and the basi and reason for
such opinion
the data or other inform consid by the wit in form the opinion
ani exhibit to be us as support for or as a summari of the opinion
the qualif of the expert wit
all public author by the expert in the preced 10 year
a list of all other case in which the expert ha testifi as an expert at trial or at
deposit within the preced four year
the expert compens for hi review and testimoni
the feder rule of civil procedur also impos time limit concern rule 26 report the
rule requir that the ident and report of the expert must be disclos at least 90 dai befor
trial but the disclosur of an expert whose testimoni is intend sole to contradict or rebut
anoth witnesss testimoni must be disclos within 30 dai after the other wit
disclosur addition an expert must supplement the written report or deposit
testimoni at least 30 dai befor trial if he becom awar that previou disclosur might
have been materi incomplet or incorrect
if a court find that an expert report fail to satisfi the rule 26 requir it mai strike the
expert design and prohibit the expert from testifi a sampl format for an expert
report is includ at the end of thi chapter
law testifi as an expert wit
2011 fraud examin manual 2807
note that under the feder rule of civil procedur the expert wit must turn over
anyth he us in form hi opinion thu if an expert us privileg or confidenti
document those document must be given to the oppos parti
moreov draft report ar also discover therefor expert should never destroi draft
note record or ani other form of document us to form the expert opinion ani
action to do so mai result in perman loss of the expert credibl in fact the best
practic to prevent discoveri of draft report is not to creat draft report in the first place
these mandatori disclosur requir remain controversi attornei and judg cannot
agre on whether the requir add unnecessari expens or whether thei promot
uniform and fair at least on of those goal uniform ha not been realiz rule 26
provid that the disclosur requir ar mandatori unless a particular district court
provid otherwis by order or local rule sever district court have elect not to adopt rule
26 and have written their own local rule in it place accordingli instead of provid a
uniform system of disclos inform the amend have led to a system of differ
rule for differ district
